#canvas1 {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: black;
}
button {
    position: absolute;
        /* Set position to absolute */
        top: 20px;
        /* Adjust top position as needed */
        left: 20px;
        /* Adjust left position as needed */
        padding: 10px 20px;
        /* Add padding to the button */
        background-color: #007bff;
        /* Set background color */
        color: #fff;
        /* Set text color */


}
/* CSS styles for the label */
label {
    position: absolute;
    /* Set position to absolute */
    top: 70px;
    /* Adjust top position as needed */
    color:#007bff
}

/* CSS styles for the input box */
input[type="number"] {
    position: absolute;
    /* Set position to absolute */
    top: 100px;
    /* Adjust top position as needed */
    width: 200px;
    /* Set the width of the input box */
    padding: 5px;
    /* Add some padding to the input box */
}